.head {
  display: none;
}
@media (max-width: 800px) {
  .head {
    width: 100vw;
    background-color: #015050;
    display: flex;
    justify-content: space-evenly;
    margin: 0 30px;
    padding: 10px;
    height: fit-content;
  }
  .head img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative;
    z-index: 5001;
  }
}

@media (max-width: 800px) {
  .iconss {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    gap: 15px;
    color: white;
  }
  .iconss aside {
    display: flex;
    gap: 10px;
  }
}
@media (max-width: 800px) {
  .checkbox, #checkbox {
    display: none;
    margin-right: auto;
  }
}

@media (max-width: 800px) {
  .toggle-menu {
    position: relative;
    width: 5rem;
    height: 3.5rem;
    padding: 0.5rem;
    z-index: 5001;
    border-radius: 6px;
    background-color: #015050;
    box-shadow: 5px 5px 5px #023838;
    margin: 1rem 3rem 1rem 0.5rem;
  }
}
@media (max-width: 800px) {
  .toggle-lines {
    position: absolute;
    width: 80%;
    height: 0.25rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s;
    background-color: white;
  }
}
@media (max-width: 800px) {
  .toggle-menu::before, .toggle-menu::after {
    position: absolute;
    width: 80%;
    height: 0.25rem;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s;
    background-color: white;
    content: "";
  }
}
@media (max-width: 800px) {
  .toggle-menu::after {
    top: 75%;
  }
  .cont {
    width: 55vw;
    height: 60vh;
    overflow: hidden;
    transition: all 0.4s;
    transform: scale(0);
    z-index: 5000;
    top: 10.5%;
    right: 5%;
    position: fixed;
    padding: 50px 18px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #015050;
    box-shadow: 5px 5px 5px #023838;
  }
  .container {
    width: 55vw;
    height: fit-content;
    transform: scale(0);
    overflow: hidden;
    transition: all 0.4s;
    z-index: 5000;
    top: 10.5%;
    left: 3%;
    padding: 10px 10px;
    position: fixed;
    background-color: #015050;
    box-shadow: 5px 5px 5px #023838;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .checkbox:checked ~ .toggle-menu::before {
    transform: translate(-50%, -50%) rotate(45deg);
    top: 50%;
  }
  .checkbox:checked ~ .toggle-menu .toggle-lines {
    opacity: 0;
  }
  .checkbox:checked ~ .toggle-menu::after {
    transform: translate(-50%, -50%) rotate(-45deg);
    top: 50%;
  }
  .checkbox:checked ~ .cont {
    transform: scale(1);
  }
  #checkbox:checked ~ .container {
    transform: scale(1);
  }
}
@media (max-width: 800px) {
  .content {
    height: fit-content;
    background: linear-gradient(#0077b5 25%, white 25%);
  }
  .content img {
    width: 60px;
    height: 60px;
    border: 1px solid black;
    border-radius: 50%;
  }
  .middle {
    text-align: center;
    position: relative;
    top: 25px;
    margin: 35px 0 25px 0;
  }
  .borders {
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 15px 5px;
  }
  .borders aside {
    display: flex;
    justify-content: space-between;
  }
  .seconded {
    margin: 10px 0;
    height: fit-content;
    color: white;
  }
  .seconded aside {
    display: flex;
    justify-content: space-between;
    padding: 15px;
  }
}
.messages {
  width: 100vw;
  height: 100vh;
}
.messages h2 {
  font-family: monospace;
  font-size: 18px;
}

.fess {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr, 2fr;
  width: 100vw;
  height: fit-content;
}

.text {
  margin: 15px;
}

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
}

header {
  background-color: #015050;
  display: flex;
  width: 100vw;
  height: fit-content;
  padding: 5px 50px 5px 50px;
  justify-content: space-between;
}
@media (max-width: 800px) {
  header {
    display: none;
  }
}
header aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  color: rgb(216, 212, 212);
}

.me {
  border-left: 1px solid gray;
  margin-left: 3px;
}
.me img {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.icons {
  display: flex;
  gap: 15px;
}
.icons p:hover {
  transform: scale(1);
  font-size: 18px;
}

#search {
  width: 250px;
  border-radius: 5px;
  padding: 5px;
}

.logo {
  align-self: center;
}

main {
  width: 100vw;
  height: fit-content;
  margin: 15px;
  display: grid;
  grid-template-columns: 18vw 52vw 28vw;
}
@media (max-width: 800px) {
  main {
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 3px;
  }
}

@media (max-width: 800px) {
  .one {
    display: none;
  }
}

.first {
  height: fit-content;
  background: linear-gradient(#0077b5 25%, white 25%);
  box-shadow: 5px 5px 5px rgb(230, 224, 224), -5px -5px 5px rgb(230, 224, 224);
}
.first img {
  width: 60px;
  height: 60px;
  border: 1px solid black;
  border-radius: 50%;
}

.center {
  text-align: center;
  position: relative;
  top: 25px;
  margin: 35px 0 25px 0;
}

.border {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 15px 5px;
}
.border aside {
  display: flex;
  justify-content: space-between;
}

.second {
  margin: 10px 0;
  height: fit-content;
  box-shadow: 5px 5px 5px rgb(230, 224, 224), -5px -5px 5px rgb(230, 224, 224);
}
.second aside {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

.two {
  margin: 0 20px;
  height: fit-content;
}
@media (max-width: 800px) {
  .two {
    margin: 0 30px;
  }
}

a {
  text-decoration: none;
}

.upper {
  padding: 5px;
  background-color: rgb(250, 246, 246);
  box-shadow: 5px 5px 5px rgb(230, 224, 224);
}
.upper hr {
  color: gray;
}

.flex {
  display: flex;
  padding: 5px;
  justify-content: space-between;
}

.sort {
  float: right;
}

.sort::before {
  content: "";
  position: absolute;
  height: 1.5px;
  width: 42.2vw;
  left: 20.8%;
  top: 21.2%;
  background-color: gray;
}
@media (max-width: 800px) {
  .sort::before {
    top: 23.2%;
    width: 70vw;
    left: 9.5%;
  }
}

.user {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.user aside {
  display: inline-flex;
  gap: 15px;
  align-self: center;
}
.user aside img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.third {
  margin-top: 22px;
  background-color: rgb(250, 246, 246);
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgb(230, 224, 224), -5px -5px 5px rgb(230, 224, 224);
}

.users {
  display: flex;
  gap: 25px;
  padding: 10px;
}

i:hover {
  transform: scale(1);
}

.remote {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  padding: 10px 5px;
  border: 3px solid green;
}

.three {
  margin: 10px 5px 10px 0;
}
@media (max-width: 800px) {
  .three {
    margin: 10px 30px;
  }
}

.follow {
  height: fit-content;
  width: fit-content;
  padding: 5px;
  border: 1px solid rgb(96, 96, 235);
}

.feeds {
  height: fit-content;
  padding: 10px 3px 10px 5px;
  box-shadow: 5px 5px 5px rgb(230, 224, 224), -5px -5px 5px rgb(230, 224, 224);
  border-radius: 5px;
}

h4 {
  color: rgb(37, 37, 158);
  text-align: center;
  transition: all 0.2s ease;
}

.image {
  height: 200px;
  position: relative;
  background-image: url(../pics/group.jpg);
  margin: 10px 0;
}
.image aside {
  position: relative;
  text-align: center;
  transition: all 0.4s ease-in-out;
  background-color: rgba(0, 0, 0, 0.2);
}
.image aside p {
  font-size: 18px;
}

button {
  width: fit-content;
  height: fit-content;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #0077b5;
  background-color: #0077b5;
  margin: 13px;
}
button a {
  color: white;
}/*# sourceMappingURL=linkelnd .css.map */